<div class="sign">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome completo">                
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuário">                
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha">                
            </div>

            <div class="text-right">
                <button class="btn btn-block btn-primary">Cadastrar-se</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Já é cadastrado? <a class="btn btn-link" href="#!/signin">Entre</a>
        </div>
    </div>
</div>